.jumbotron{
    text-align: center;
    background-color: white !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 0px !important;
}

.jumbotron h1{
    font-size: 80px !important;
    font-weight: bold;
}

.lead{
    padding: 20px 20px 0 20px;
    font-size: 25px !important;
}

.container{
    width: 100%;
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
}

#section1{
    width: 70%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

#busquedaNoticias{
    width: 550px;
    float: left;
    margin-right: 5px;
}

#btnNoticias{
    float: left;
}

/*/***************/
#section2{
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

input{
    border: none;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 5px;
}

.infoClima{
    padding-top: 10px;
    height: 300px;
    text-align: left;
    font-size: 20px;
}